body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  height: 5rem;
  background-color: rgb(217, 253, 73);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h2 {
  font-weight: bold;
  color: rgb(30, 30, 30);
}

label {
  font-size: 1.5rem;
  text-align: start;
}

li {
  width: inherit;
  color: rgb(30, 30, 30);
  list-style-type: decimal;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  border-radius: 1.01rem;
  padding: 1rem;
  margin: 2rem 0;
  overflow: auto;
}

li > .delete-button {
  width: 7rem;
  background-color: rgb(204, 204, 204);
  border: none;
  border-radius: 1rem;
  margin-left: 2rem;
  padding: 1rem;
}

.button {
  width: inherit;
  height: 3rem;
  margin-top: 2rem;
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
}

.row,
.col-12,
.col-sm-6 {
  margin: 0;
  padding: 0;
}

.box {
  height: 94vh;
  background-color: white;
  border-right: 1px solid rgba(30, 30, 30, 0.1);
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(30, 30, 30);
  width: inherit;
  margin-top: 3rem;
}

.field-input {
  height: 3rem;
  width: 100%;
  margin-top: 1rem;
}

#items-list {
  color: rgb(30, 30, 30);
  padding: 0;
}

.button:hover {
  background-color: rgb(217, 253, 73);
  color: rgb(30, 30, 30);
}

#search-button {
  margin-bottom: 2rem;
}

li > .delete-button:hover {
  background-color: rgb(217, 253, 73);
}
